*{
	margin: 0;
	padding: 0;
}

.pd-clear{
	padding: 0;
	max-width: 1180px;
}

/*---------------------------------*/
.header{
	background: #18bbcc;
}

.header-logo{
	height: 80px;
}

.header-logo img{
	margin-left: 20px;
}

.header-nav{
	height: 40px;
	background: #02567b;
}

.header-ul{
	margin: 0;
	padding: 0;
}

.header-ul>li{
	float: left;
	list-style: none;
	height: 40px;
	padding: 0 16px;
}

.header-ul>li:hover,.header-li-active{
	background: #ff7337;
}

.header-ul>li a{
	color: #FFFFFF;
	line-height: 40px;
	font-size: 16px;
}

.header-login{
	height: 40px;
	padding: 0;
	margin: 0 4px 0 0;
}

.header-login>li{
	float: left;
	list-style: none;
	margin: 0 8px;
}

.header-login>li a{
	font-size: 14px;
	color: #ffffff;
	background: #7ba7ba;
	padding: 3px 8px;
	line-height: 40px;
}
/*------------------------------------------------header部分结束*/
.tk-bg{
	background: url(../i/tk/fourth/tk-bg.png) no-repeat;
	width: 1180px;
	height: 1807px;
}

.tk-aside{
	margin-top:495px;
	margin-left: 50px;
}

.tk-main{
	margin-top: 310px;
	margin-left: 20px;
}


/*------------------------------------------------------------↓tk-menu*/

.tk-menu{
	background: url(../i/tk/menu.png) no-repeat;
	width: 230px;
	height: 397px;
}

.tk-menu-ul{
	padding: 0;
	margin: 0;
	padding-left: 20px;
	padding-top: 130px;
}

.tk-menu-ul li{
	list-style: none;
	margin: 8px 0;
}

.tk-menu-ul li:nth-child(2){
	margin-left: 20px;
}

.tk-menu-ul li:nth-child(3){
	margin-left: 20px;
}

.tk-menu-ul li:nth-child(4){
	margin-left: 5px;
}

/*--------------------------------------------------------------tk-ch*/

.tk-ch{
	margin-top: 10px;
}

.tk-ch-content{
	width: 208px;
	position: relative;
}

.tk-ch-content h3{
	margin: 0;
	font-size: 14px;
	display: block;
	width: 208px;
	
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.tk-ch-a{
	font-size: 14px;
	color: #d2d2d2;
	line-break: 20px;
	display: block;
	height: 60px;
	width: 208px;
	
	overflow: hidden;
	text-overflow: ellipsis;
}

/*---------------------------------------------------------tk-rank*/

.tk-rank{
	background: url(../i/tk/fourth/rank.png) no-repeat;
	width: 297px;
	height: 513px;
	margin-top: 20px;
	margin-left: -20px;
}

.tk-rank-ul{
	padding: 0;
	margin: 0;
	
	padding-top: 70px;
	padding-left: 30px;
}

.tk-rank-ul li{
	list-style: none;
	width: 220px;
	padding: 5px 8px;
	border-bottom: 1px dashed #a78a73;
}

.tk-rank-title{
	font-size: 16px;
	line-height: 24px;
	width: 204px;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.tk-rank-sum{
	font-size: 14px;
	line-height: 24px;
	width: 204px;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}


.tk-rank-ul li:nth-child(2n+1) .tk-rank-title{
	color: #f75858;
	font-weight: bold;
}

.tk-rank-ul li:nth-child(2n) .tk-rank-title{
	color: #01aee0;
	font-weight: bold;
}

/*--------------------------------------------------------------图片列表-*/
.tk-article{
	background:#489cc9;
	width: 822px;
	height: 1200px;
	border-radius: 12px;
	margin-top: 20px;
	box-shadow: 2px 2px 6px;
	position: relative;
}


@charset "utf-8";
body, ul, dl, dd, dt, ol, li, textarea, form, select, fieldset, table, td, div, input {margin:0;padding:0;-webkit-text-size-adjust: none}
a img {border:0}
ul, ol, li {list-style-type:none;vertical-align:0}
a {outline-style:none;color:#535353;text-decoration:none}
a:hover { color: #D40000; text-decoration: none}

.mod18{
	width: 600px;
	height: 400px;
	position: relative;
	background: #222222;
	margin: 0 auto;
}
.mod18 .btn{position:absolute;width:15px;height:70px;top:330px;cursor:pointer;z-index:99;font-size:50px;font-weight:bold;}
.mod18 .prev{left:0;background:url(img/prevBtn.png) no-repeat;}
.mod18 #prevTop,.mod18 #nextTop{top:140px;width:46px;height:48px;}
.mod18 #prevTop{background:url(img/1.png) 0 0 no-repeat; display:none;}
.mod18 #nextTop{background:url(img/2.png) 0 0 no-repeat; display:none;}
.mod18 .next{right:0;background:url(img/nextBtn.png) no-repeat;}
.mod18 li{float:left;}
.mod18 .cf li{position:relative;color:#fff;}
.mod18 .cf a{display:block;width:650px;height:330px;position:absolute;color:#fff;}
.mod18 .cf li span{display:block;width:650px;position:absolute;left:0;bottom:0;padding:10px 20px;line-height:22px;text-align:left;background:rgba(0,0,0,0.6);filter:progid:DXImageTransform.Microsoft.gradient( GradientType = 0,startColorstr = "#60000000",endColorstr = "#60000000");}
.mod18 .picBox{height:330px;position:relative;overflow:hidden;}
.mod18 .picBox ul{height:330px;position:absolute;}
.mod18 .picBox li{width:650px;height:330px;}
.mod18 .listBox{ width: 600px; height: 70px; margin: 0 auto; position: relative; padding: 3px 0; overflow: hidden; background: #222222;}
.mod18 .listBox ul{height:70px;position:absolute; margin: 0 20px;}
.mod18 .listBox li{width:96px;height:54px;cursor:pointer;position:relative; padding: 8px 3px;}
.mod18 .listBox li i{display:none;}
.mod18 .listBox li img{width:96px;height:54px;}
.mod18 .listBox .on img{width:96px;height:54px;border:3px solid #3f81f1;}
.mod18 .listBox .on i{display:block;}


.tk-article-box{
	margin-top: 30px;
	margin-left: 30px;
	margin-right: 30px;
	background: rgb(51,51,51);
	border-radius: 12px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.tk-article-words{
	margin: 20px 30px 0 30px;
}

.tk-article-words h3{
	color: #FFFFff;
	margin: 0;
	font-size: 18px;
	padding-bottom: 12px;
	border-bottom: 2px solid #3b82a8;
}

.tk-article-main{
	margin-top: 14px;
	text-indent: 3rem;
	font-size: 16px;
	color: #fff;
	min-height: 340px;
}

/*-------------------------------------------------------------------↓评论模块*/

.tk-content-comment{
	width: 740px;
	padding: 10px;
	position: relative;
	background: #cffeee;
	background: rgba(207,254,238,0.75);
	
	border: 2px solid #65dcd0;
	border-radius: 8px;
	margin-right: 30px;
	margin-top: 40px;
	
}

.tk-content-comment-title img{
	display: block;
	position: absolute;
	top: -30px;
	left: -15px;
}

.tk-content-comment-list{
	padding: 8px 3px;
}

.tk-content-comment-list>li{
	list-style: none;
	margin: 10px 0;
}

.tk-content-comment-list-user img{
	display: block;
	width: 35px;
	height: 35px;
	border-radius: 5px;
}

.tk-content-comment-list-main,.tk-content-comment-list-main:hover{
	display: block;
	margin-left: 5px;
	width: 660px;
	
	font-size: 14px;
	line-height: 35px;
	color: #6c6c6c !important;
	
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.tk-content-comment-bg{
	display: block;
	position: absolute;
	
	bottom: 0px;
	right: -100px;
}

/*-------------------------------------------------------------↓footer部分*/
.footer{
	background: #F0f0f0;
	padding: 15px 0;
	text-align: center;
}

.foot-ul{
	margin:0 auto; 
	padding: 0;
	text-align: center;
}

.foot-ul li{
	list-style: none;
	display: inline-block;
	margin: 0 4px;
}

.foot-ul li a{
	color: #1d8185;
	font-weight: 550;
	font-size: 14px;
}

.footer p{
	color: #1d8185;
	font-weight: 550;
	font-size: 14px;
	margin: 0;
}

