*{
	margin: 0;
	padding: 0;
}

.pd-clear{
	padding: 0;
	max-width: 1180px;
}

/*---------------------------------*/
.header{
	background: #18bbcc;
}

.header-logo{
	height: 80px;
}

.header-logo img{
	margin-left: 20px;
}

.header-nav{
	height: 40px;
	background: #02567b;
}

.header-ul{
	margin: 0;
	padding: 0;
}

.header-ul>li{
	float: left;
	list-style: none;
	height: 40px;
	padding: 0 16px;
}

.header-ul>li:hover,.header-li-active{
	background: #ff7337;
}

.header-ul>li a{
	color: #FFFFFF;
	line-height: 40px;
	font-size: 16px;
}

.header-login{
	height: 40px;
	padding: 0;
	margin: 0 4px 0 0;
}

.header-login>li{
	float: left;
	list-style: none;
	margin: 0 8px;
}

.header-login>li a{
	font-size: 14px;
	color: #ffffff;
	background: #7ba7ba;
	padding: 3px 8px;
	line-height: 40px;
}
/*------------------------------------------------header部分结束*/

.fc-bg{
	background: url(../i/fczs/main-bg.png) top no-repeat;
	height: 1791px;
}

/*---------------------------------------------------------↓fc-top*/

.fc-top-theme img{
	display: block;
	margin-left: 500px;
}

.fc-top-hot{
	background: url(../i/fczs/hot.png) no-repeat;
	width: 207px;
	height: 455px;
	display: block;
	position: relative;
	
	margin-top: 80px;
	margin-left: 30px;
}

.fc-top-hot-title{
	text-align: center;
	margin-top: 80px;
}

.fc-top-hot-main{
	text-align: center;
	margin-top: 10px;
}

.fc-top-hot-box{
	width: 142px;
	margin-left: 35px;
	margin-top: 16px;
}

.fc-top-hot-box img{
	width: 110px;
	height: 80px;
	display: block;
	margin-left: 18px;
}

.fc-top-hot-box a{
	width: 140px !important;
	font-size: 14px;
	color: #aeafaf;
	display: block;
	margin-top: 4px;
	
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.fc-top-hot-more{
	position: absolute;
	bottom: -48px;
	left: 75px;
}

/*-----------------------------------------------------↑fc-top  ↓fc-rank排行榜*/
.fc-rank{
	background: url(../i/fczs/rank-bg.png) no-repeat;
	display: block;
	width: 261px;
	height: 453px;
	
	margin-left: 55px;
}

.fc-rank-title{
	font-size: 18px;
	color: #fff;
	font-weight: 500;
	
	margin-top: 95px;
	margin-left: 28px;	
	text-shadow: #cbcbcb;
}

.fc-rank-more{
	font-size: 18px;
	color: #fff;
	font-weight: 500;
	
	margin-top: 95px;
	margin-right: 28px;
	text-shadow: #cbcbcb;
}

.fc-rank-ul-01{
	padding: 0;
	margin-left: 24px;
	margin-top: 0;
}

.fc-rank-ul-02-important{
	margin-top: 42px !important;
}

.fc-rank-ul-02-important li a{
	color: #6aa0ad !important;
}

.fc-rank-ul-01 li{
	list-style: none;
	padding: 3px 0;
	border-bottom: 1px solid #3d7d9e;
	width: 209px;
}

.fc-rank-ul-01 li a em{
	color: #e27868;
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	padding-right: 4px;
}

.fc-rank-ul-01 li a{
	color: #FFFFFF;
	font-size:16px;
	width: 209px;
	display: block;
	
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/*------------------------------------------------------↑fc-rank  ↓fc-ch评论模块*/
.fc-ch{
	background: url(../i/fczs/comment.png) no-repeat;
	width: 338px;
	height: 588px;
	display: block;
	position: relative;
	
	margin-left: 15px;
	margin-top: -45px;
}

.fc-ch-title{
	font-size: 18px;
	color: #fff;
	font-weight: 500;
	
	padding-top: 46px;
	padding-left: 40px;	
	text-shadow: #cbcbcb;
}

.fc-ch-box{
	padding: 0;
	margin-left: 38px;
	width: 280px;
}

.fc-ch-box img{
	width: 250px;
	height: 187px;
	margin-left: 12px;
	margin-top: 20px;
	margin-bottom: 16px;
}

.fc-ch-box a{
	font-size: 16px;
	display: block;
	color: #767575;
	padding: 0 10px 0 8px;
	text-indent: 3rem;
}

/*------------------------------------------------------------↑fc-ch ↓fc-article文章列表模块*/

.fc-article{
	margin-left: 30px;
	width: 731px;
}

.fc-content-article-title h1{
	margin: 8px 0 0 4px;
	font-size: 16px;
	color: #828282;
}

.fc-content-article-time{
	color: #a0a0a0;
	font-size: 14px;
	margin: 6px 0 0 4px;
}

.fc-content-article-info{
	padding: 0 0 4px 0;
}

.fc-content-article-from,.fc-content-article-count{
	color: #a0a0a0;
	font-size: 14px;
	margin: 4px 0 0 4px;
}

.fc-content-article-count em{
	color: #E1A93A;
	font-style: normal;
	margin-right: 8px;
}

.fc-content-article-main{
	padding: 16px 0;
	height: 500px;
	
	overflow: auto;
	scrollbar-base-color: #88e4dd;
}

/*-------------------------------------------------------↑文章列表 ↓fc-comment特别策划*/
.fc-comment{
	background: url(../i/fczs/fourth/comment.png) no-repeat;
	display: block;
	width: 718px;
	height: 387px;
	position: relative;
	
	margin-left: 45px;
	margin-top: 45px;
}

.fc-comment-ul{
	display: block;
	padding-top: 145px;
	padding-left: 200px;
	height: 300px;
	width: 680px;
}

.fc-comment-ul>li{
	list-style: none;
	padding: 8px 0;
	border-bottom: 1px dashed #c2b6be;
}

.fc-comment-user img{
	width: 60px;
	height: 60px;
	display: block;
}

.fc-comment-info{
	width: 180px;
	padding: 0 0 0 12px;
}

.fc-comment-user-name,.fc-comment-main{
	display: block;
	font-size: 14px;
	color: #515151;
	width: 160px;
	margin-top: 8px;
	
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/*-----------------------------------------------------↓底部导航*/
.bot-nav{
	width: 1025px;
	background: #fff;
	border: 4px solid #18bbcc;
	border-radius: 8px;
	margin: 0 auto;
	margin-bottom: 22px;
	position: relative;
}

.cmw-bot-nav{
	margin-top: 20px;
}

.bot-nav-ul{
	margin: 0 auto;
	padding: 0;
}

.bot-nav-ul li{
	float: left;
	list-style: none;
	margin-top: 8px;
	margin-bottom: 8px;
}

.bot-nav-bg{
	position: absolute;
	top: -37px;
}
/*-------------------------------------------------------------↓footer部分*/
.footer{
	background: #F0f0f0;
	padding: 15px 0;
	text-align: center;
}

.foot-ul{
	margin:0 auto; 
	padding: 0;
	text-align: center;
}

.foot-ul li{
	list-style: none;
	display: inline-block;
	margin: 0 4px;
}

.foot-ul li a{
	color: #1d8185;
	font-weight: 550;
	font-size: 14px;
}

.footer p{
	color: #1d8185;
	font-weight: 550;
	font-size: 14px;
	margin: 0;
}

