*{
	margin: 0;
	padding: 0;
}

.pd-clear{
	padding: 0;
	max-width: 1180px;
}

/*---------------------------------*/
.header{
	background: #18bbcc;
}

.header-logo{
	height: 80px;
}

.header-logo img{
	margin-left: 20px;
}

.header-nav{
	height: 40px;
	background: #02567b;
}

.header-ul{
	margin: 0;
	padding: 0;
}

.header-ul>li{
	float: left;
	list-style: none;
	height: 40px;
	padding: 0 16px;
}

.header-ul>li:hover,.header-li-active{
	background: #ff7337;
}

.header-ul>li a{
	color: #FFFFFF;
	line-height: 40px;
	font-size: 16px;
}

.header-login{
	height: 40px;
	padding: 0;
	margin: 0 4px 0 0;
}

.header-login>li{
	float: left;
	list-style: none;
	margin: 0 8px;
}

.header-login>li a{
	font-size: 14px;
	color: #ffffff;
	background: #7ba7ba;
	padding: 3px 8px;
	line-height: 40px;
}
/*------------------------------------------------header部分结束*/

.wkx-bg{
	background: url(../i/wkx/fourth/wkx-bg.png) no-repeat;
	width: 1180px;
	height: 1701px;
}

.wkx-aside{
	margin-top: 275px;
}

.wkx-main{
	background: url(../i/wkx/fourth/main.png) no-repeat;
	width: 772px;
	height: 1202px;
	
	margin-top: 380px;
	margin-left: 40px;
}

/*------------------------------------------------------------------------wkx-menu*/

.wkx-menu{
	background: url(../i/wkx/menu.png) no-repeat;
	height: 507px;
	width: 190px;
	
	margin-left: 30px;
}

.wkx-menu-ul{
	margin: 0;
	padding: 0;
	
	padding-top: 120px;
	margin-left: 30px;
}

.wkx-menu-ul li{
	list-style: none;
	margin-top: 8px;
}

/*-----------------------------------------------------------------↓wkx-rec*/

.wkx-rec{
	background: url(../i/wkx/fourth/rec.png) no-repeat;
	width: 287px;
	height: 628px;
	
	margin-top: -150px;
	margin-left: 30px;
}

.wkx-rec-ul{
	padding: 0;
	margin: 0;
	
	padding-left: 58px;
	padding-top: 140px;
}

.wkx-rec-ul li{
	list-style: none;
	position: relative;
	margin: 20px 0px;
}

.wkx-rec-img{
	width: 173px;
	height: 130px;
	display: block;
}

.wkx-rec-a,.wkx-rec-a:active{
	position: absolute;
	bottom: 0;
	height: 30px;
	font-size: 14px;
	color: #FFFFFF !important;
	background: rgb(0,0,0);
	background: rgba(0,0,0,0.4);
	
	width: 173px;
	padding: 0 4px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/*----------------------------------------------------------------↓wkx-rank*/

.wkx-rank{
	background: url(../i/wkx/fourth/rank.png) no-repeat;
	width: 302px;
	height: 211px;
	
	margin-top: 50px;
	margin-left: 30px;
}

.wkx-rank-ul{
	padding: 0;
	margin: 0;
	
	padding-top: 70px;
	padding-left: 40px;
}

.wkx-rank-ul li{
	list-style: none;
	margin: 6px 0;
}

.wkx-rank-a,.wkx-rank-a:active{
	color: #FFFFFF !important;
	font-size: 16px;
	width: 315px;
	display: block;
	
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.wkx-rank-a em{
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	color: #ff7337;
	padding-right: 8px;
	
	text-shadow: 1px 1px 2px;
}

/*----------------------------------------------------------------↓wkx-article 文章列表*/

.wkx-article{
	margin-left: 75px;
	padding-top: 80px;
	width: 613px;
}

.wkx-content-article-title h1{
	margin: 8px 0 0 4px;
	font-size: 16px;
	color: #828282;
}

.wkx-content-article-time{
	color: #a0a0a0;
	font-size: 14px;
	margin: 6px 0 0 4px;
}

.wkx-content-article-info{
	padding: 0 0 4px 0;
}

.wkx-content-article-from,.wkx-content-article-count{
	color: #a0a0a0;
	font-size: 14px;
	margin: 4px 0 0 4px;
}

.wkx-content-article-count em{
	color: #E1A93A;
	font-style: normal;
	margin-right: 8px;
}

.wkx-content-article-main{
	padding: 16px 0;
	height: 500px;
	
	overflow: auto;
	scrollbar-base-color: #88e4dd;
}

/*----------------------------------------------------------------↓wkx-comment*/

.wkx-comment{
	margin-left: 75px;
	margin-top: 60px;
	
	width: 613px;
}

.wkx-comment-box{
	list-style: none;
}

.wkx-comment-ul{
	margin: 0;
	padding: 0;
}

.wkx-comment-ul li:nth-child(2n+1){
	background: #d5e2df;
}

.wkx-comment-box{
	list-style: none;
	padding: 10px 4px;
	border-bottom: 1px solid #A5D8A5;
	width: 613px;
}

.wkx-comment-box-header-h2{
	font-size: 14px;
	line-height: 20px;
	margin: 0;
	width:200px;
	
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding-left: 12px;
}


.wkx-comment-box-header-time{
	font-size: 12px;
	line-height: 20px;
	text-align: right;
	padding-right: 12px;
	
	width: 200px;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding-left: 8px;
}

.wkx-comment-box-img{
	width: 68px;
	height: 68px;
}

.wkx-comment-box-sum{
	width: 537px;
	padding-left: 12px;
	font-size: 14px;
	color: #78797a;
	
	display: block;
	height: 45px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.wkx-article-page{
	margin: 20px 12px 0 0 ;
	padding: 0;
}

.wkx-article-page>li{
	float: left;
	list-style: none;
	margin: 0 6px;
	font-size: 14px;
}

.wkx-article-page>li a{
	color: #3B3B3B;
	font-weight: bold;
}

.wkx-article-page>li a:hover,.wkx-article-page-active{
	color: #419920 !important;
	font-weight: bold;
}

/*-------------------------------------------------------------↓footer部分*/
.footer{
	background: #F0f0f0;
	padding: 15px 0;
	text-align: center;
}

.foot-ul{
	margin:0 auto; 
	padding: 0;
	text-align: center;
}

.foot-ul li{
	list-style: none;
	display: inline-block;
	margin: 0 4px;
}

.foot-ul li a{
	color: #1d8185;
	font-weight: 550;
	font-size: 14px;
}

.footer p{
	color: #1d8185;
	font-weight: 550;
	font-size: 14px;
	margin: 0;
}

