*{
	margin: 0;
	padding: 0;
}

.pd-clear{
	padding: 0;
	max-width: 1180px;
}

/*---------------------------------*/
.header{
	background: #18bbcc;
}

.header-logo{
	height: 80px;
}

.header-logo img{
	margin-left: 20px;
}

.header-nav{
	height: 40px;
	background: #02567b;
}

.header-ul{
	margin: 0;
	padding: 0;
}

.header-ul>li{
	float: left;
	list-style: none;
	height: 40px;
	padding: 0 16px;
}

.header-ul>li:hover,.header-li-active{
	background: #ff7337;
}

.header-ul>li a{
	color: #FFFFFF;
	line-height: 40px;
	font-size: 16px;
}

.header-login{
	height: 40px;
	padding: 0;
	margin: 0 4px 0 0;
}

.header-login>li{
	float: left;
	list-style: none;
	margin: 0 8px;
}

.header-login>li a{
	font-size: 14px;
	color: #ffffff;
	background: #7ba7ba;
	padding: 3px 8px;
	line-height: 40px;
}
/*------------------------------------------------header部分结束*/

.zx-bg{
	background: url(../i/zx/zx.png) no-repeat;
	height: 1209px;
	width: 1180px;
}

/*---------------------------------------------------------------↓zx-article*/

.zx-main{
	background: url(../i/zx/fourth/article.png) no-repeat;
	width: 558px;
	height: 900px;
	
	margin-top: 175px;
	margin-left: 70px;
	position: relative;
}
.zx-article{
	margin-left: 30px;
	padding-top: 50px;
	width: 500px;
}

.zx-content-article-title h1{
	margin: 8px 0 0 4px;
	font-size: 16px;
	color: #828282;
}

.zx-content-article-time{
	color: #a0a0a0;
	font-size: 14px;
	margin: 6px 0 0 4px;
}

.zx-content-article-info{
	padding: 0 0 4px 0;
}

.zx-content-article-from,.zx-content-article-count{
	color: #a0a0a0;
	font-size: 14px;
	margin: 4px 0 0 4px;
}

.zx-content-article-count em{
	color: #E1A93A;
	font-style: normal;
	margin-right: 8px;
}

.zx-content-article-main{
	padding: 16px 0;
	height: 450px;
	
	overflow: auto;
	scrollbar-base-color: #88e4dd;
}

/*--------------------------------------------------------------zx-comment*/
.zx-rank{
	background: url(../i/zx/fourth/rank.png) no-repeat;
	width: 231px;
	height: 412px;
	
	margin-top: 360px;
	margin-left: 30px;
}

.zx-rank-more,.zx-rank-more:hover{
	float: right;
	margin-right: 20px;
	color: #707070;
	font-weight: bold;
}

.zx-rank-ul{
	padding: 0;
	margin: 0;
	
	padding-top: 30px;
	padding-left: 20px;
}

.zx-rank-ul li{
	list-style: none;
	width: 192px;
	margin: 12px 0;
}

.zx-rank-img{
	display: block;
	width: 50px;
	height: 50px;
}

.zx-rank-a{
	width: 140px;
	padding-left: 10px;
	font-size: 14px;
	height: 50px;
	color: #7a7a7a;
	line-height: 25px;
	
	overflow: hidden;
	text-overflow: ellipsis;
}


/*----------------------------------------------------------------↓精彩回顾*/

.zx-review{
	background: url(../i/zx/review.png) no-repeat;
	width: 225px;
	height: 217px;
	
	margin-left: 30px;
	margin-top: 800px;
}

.zx-review-ul{
	padding: 0;
	margin: 0;
	
	padding-top: 40px;
	padding-left: 30px;
}

.zx-review-ul li{
	list-style: none;
	margin: 4px 0;
}

.zx-review-a{
	display: block;
	font-size: 14px;
	color: #545454;
	width: 154px;
	
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.zx-review-a em{
	font-size: 16px;
	color: #1d8185;
	font-style: normal;
	font-weight: bold;
	padding-right: 8px;
}

/*----------------------------------------------------------------↓zx-comment*/

.zx-comment{
	margin-left: 20px;
	margin-top: 20px;
	
	width: 500px;
}

.zx-comment-box{
	list-style: none;
}

.zx-comment-ul{
	margin: 0;
	padding: 0;
}

.zx-comment-ul li:nth-child(2n+1){
	background: #d5e2df;
}

.zx-comment-box{
	list-style: none;
	padding: 3px 4px;
	border-bottom: 1px solid #A5D8A5;
	width: 508px;
}

.zx-comment-box-header-h2{
	font-size: 14px;
	line-height: 20px;
	margin: 0;
	width:200px;
	
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding-left: 12px;
}


.zx-comment-box-header-time{
	font-size: 12px;
	line-height: 20px;
	text-align: right;
	padding-right: 12px;
	
	width: 200px;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding-left: 8px;
}

.zx-comment-box-img{
	width: 50px;
	height: 50px;
}

.zx-comment-box-sum{
	width: 450px;
	padding-left: 12px;
	font-size: 14px;
	color: #78797a;
	
	display: block;
	height: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.zx-article-page{
	margin: 20px 12px 0 0 ;
	padding: 0;
}

.zx-article-page>li{
	float: left;
	list-style: none;
	margin: 0 6px;
	font-size: 14px;
}

.zx-article-page>li a{
	color: #3B3B3B;
	font-weight: bold;
}

.zx-article-page>li a:hover,.zx-article-page-active{
	color: #419920 !important;
	font-weight: bold;
}

/*-------------------------------------------------------------↓footer部分*/
.footer{
	background: #F0f0f0;
	padding: 15px 0;
	text-align: center;
}

.foot-ul{
	margin:0 auto; 
	padding: 0;
	text-align: center;
}

.foot-ul li{
	list-style: none;
	display: inline-block;
	margin: 0 4px;
}

.foot-ul li a{
	color: #1d8185;
	font-weight: 550;
	font-size: 14px;
}

.footer p{
	color: #1d8185;
	font-weight: 550;
	font-size: 14px;
	margin: 0;
}

